
@import '~mdb-ui-kit/css/mdb.min.css';
html,
* {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f9fbfd;
}
.p{
  font-weight: 400;
}
.logofont{
  font-family: Arial, Helvetica, sans-serif;
  font-size:80px;
}

.logoabbr{
  margin-left: 65px;
}

a{
  color: inherit;
}

.list-group-flush{
  color: #495057;
  background-color:#495057;
}

.active{
  background-color: inherit ;
}

main {
  background-color:#869aeb;
  margin-top: -75%;
}

.navbar-brand{
  margin-left: 15px;
  color: white;
}

.sidebar-fixed {
  left: 0;
  height: 1000px;
  width: 17.8%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color:#5b6275;
  color:white;
  padding: 0rem;
  padding-top: 0;
  font-size:small;
}


.flexible-navbar {
  color: white;
  transition: padding-left 0.5s;
  padding-left: 20px;
  background:#e1163c;
  height: 60px;
}

.drop-down {
  background: #e1163c;
}
.headings {
  text-align: center;
  font-size: 42px;
  font-weight: normal;
}

.column1 {
  margin-right: -76px;
  padding: 0;
  width: auto;
}

.column2 {
  margin-right: -60px;
  padding: 0;
  width: auto;
}

.sub-head {
  font-size: 20px;
  text-align: center;
}

/* .search {
  text-align: center;
  width: 50%;
  display: none;
} */

.images {
  width: 100%;
  height: 250px;
}

/* .image-slider{
  height: 200px;
} */

.in-card-img {
  width: 60px;
  height: 60px;
  margin-left: 70%;
  margin-top: 3%;
}

.carousels {
  padding: 0 8%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  cursor: pointer;
}

/* .head-main {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-top: -.1%;
  margin-left: 90px;
} */

.nav-bar {
  height: 65px;
  
  padding: 8px 0;
  color: #fff;  
}
.nav-title{
  display:inline-flex;
  padding:0 25px;
  font-size:32px;
  font-weight: 700;
}
.nav-bar ul { 
  width: 100%;
  margin-left: auto;
  list-style: none;
  display: inline-flex;

}
.navbar-search{
  margin-top: -3%;
  
}

.nav-bar ul li {
  font-size: 20px;
  padding: 0 10px;
  font-weight: 400;
  color: #fff;
  margin-right: 14px;
  cursor: pointer;
  
}

.list-items p {
  margin-left: 5%;
  line-height: 24px;
  padding: 10px 0;
}

.nav-bar ul li:hover .mega-menu {
  color: black;
}

.mega-menu {
  position:absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 550px;
  background: rgb(221, 216, 220);
  transition: ease-in-out;
  padding: 30px 100px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.inner-mega-menu {
  margin: 8px;
  font-size: 12px;
  text-transform: none;
  display:flex;
  width: 100px;
  padding: 0 100px;
  z-index: 1;
}

.bts {
  padding: 12px 20px;
  text-transform: none;
  width: 165px;  
}

.menu-child {
  padding: 20px 100px;
  margin: -2%;
  font-size: 12px;
  text-transform: none;
  display: flex;
  z-index: 1;
}

.nav-bar ul li:hover .mega-menu {
  visibility:visible;
  opacity: 1;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  
}

/* form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 29px;
  border: 4px solid white;
  padding: 5px;
  margin-left: 35%;
  
} */

/* input {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
} */

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
}

form:hover,
form:valid {
  width: 400px;
  cursor: pointer;

}

form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa {
  background: #07051a;
  color: white;
}

form:valid a {
  display: block;
}

.avatar {
  margin-left: 172%;
  margin-top: -16%;
  width: 5%;
  height: 65px;
}

/* .search-bar {
  margin-left: 10%;
} */

.input-group {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 80px;
    align-content: center;
}
.input-group2 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80px;
    align-content: center;
}
.form-outline{
  display:inline-flex;  
  width: 100%;
}
.form-control {
  height: 61px;
  border-radius: 0;
}
.btn-danger {
  color: white;
  height: 61px;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto ;
  margin-bottom: auto;
}

.btn-primary {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 61px;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  text-transform: none;
  background-color: #28BDA2 !important;
}
.btn2{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  color: black;
}
.ta {
  color: #28BDA2;
}

.sec-container {

  background-color: #f9fbfd;
}

.exc-cont{
  font-size: 18px;
  color: white;
  margin: 5px 5px;
}

.input-group-2 {
  width: 45%;
  margin: 0 305px;
  height: 80px;
}

.form2 {
  margin-top: -50%;
}

.h3 {
  color: #e1163c;
  text-align: center;
  font-size: 32px;
}

.h2 {
  color: #999999;
  text-align: center;
  font-size: 32px;
}

.h4 {
  color: #777777;
  font-size: 14.4px;
  text-align: center;
}

.pp1 {
  font-size: 12px;
  color: #AFAFAF;
  text-align: center;
}

.p2{
  font-size: 14px;
  text-align: center;
  width: 820px;
  margin-left: 90px;
}
.p3{
  font-size: 21px;
  font-weight: 700;
}

.p4-highlighted{
  color:#e1163c;
  font-weight: 500;
  font-size: 12px;
  margin-left: 62%;
  margin-top: -6%;
}
.p5{
  margin-left: 60%;
  margin-top: -12.5%;
  color: black !important;
}
.coupon-name{
  margin-top: -17.5%;
  margin-left: 18%;
  width: 80%;
}
.third-cont {
  background-color: white;
}
.table{
  margin-left: 3.6%;
  margin-right: auto;
 width: 67%;
}
.table-1{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


.hr {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  background-color: #777777;
}

.center-box {
  border: 7px solid #ca1436;
  width: 74%;
  margin-left: 13%;
}

.paragraph {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  color: #777777;
  font-size: 14px;
}

.p1{
  font-size: 14px;
}

.sec-paragraph {
  text-align: center;
  font-size: 20px;
}



.table {
  padding: 10px 40px;
  display: flex;
  font-size: 14px;
}

.table-f {
  padding: 0 40px;
  display: flex;
  font-size: 14px;
}

.inner-tab {
  font-size: 14px;
  padding: 20px 0;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
}

.icons {
  text-align: center;
  padding: 0 13px;
  color: #ca1436;
  font-size: 20px;
}

.icon-div {
  margin-left: 43%;
}

.end-div {
  margin-left: 20%;
  width: 47%;
  margin-top: 2%;
}

.footer-list {
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
}

a.hover {
  color: #060a0e;
  text-decoration: none;
}
.title-area{
  background-color: white;
  display: inline-flex;
}
.brand-image{
  width: 122px;
  height: 122px;
  margin-top: 1%;
  margin-left: 4%;
  border: 1px solid rgb(185, 184, 194);
}

.exclusive{
  margin-top: 8px;
  width: 820px;
  height: 270px;
  margin-left: 6.8%;
  background-color: goldenrod;
}
.signupsearch{
  width: 82.2%;
  margin-left: -4%;
}
.exclusive-int{
  margin-top: -22px;
  margin-left: 5px;
  background-color: white;
  width: 810px;
  height: 235px;
}

.exc-image{
  width: 110px;
  height: 110px;
  border: 1px solid #b3a4a4;
  margin: 20px 20px;
}

.coupon{
  width: 820px;
  margin-left: 90px;
  height: 200px;
  background-color: white;
  border-style:dashed ;
  border-color: goldenrod;
  
}

.about-coupon{
  width: 23%;
  float: right;
  margin-right: 8%;
  margin-top: 2%;
  background-color: white;
}

.MissedoutCoupon{
  width: 820px;
  margin-left: 90px;
  height: 200px;
  background-color: white; 
  -webkit-box-shadow: 0 0 10px #8888;
  box-shadow: 0 0 10px #8888;
}
.FAQ{
  width: 820px;
  margin-left: 90px;
  background-color: white; 
}
.hints{
  width: 820px;
  margin-left: 90px;
  background-color: white; 
}
.howto{
  width: 820px;
  margin-left: 90px;
  background-color: white; 
}
.findout{
  width: 23%;
  height: auto;
  float: right;
  margin-right: 8%;
  margin-top: -22%;
  background-color: white;
}

.also-like{
  margin-top: -3%;
  width: 23%;
  height: auto;
  float: right;
  margin-right: 8%;
  background-color: #f9fbfd;
}

.categories-rel{
  margin-top: -8%;
  width: 23%;
  height: auto;
  float: right;
  margin-right: 8%;
  background-color: #f9fbfd;
}

.popular-brands{
  margin-top: -15%;
  width: 23%;
  float: right;
  margin-right: 8%;
  
}

.a2{
  color: blue;
  text-decoration: underline;
}
.cat-title{
  display: inline-flex;
}
/* @media (min-width:600px) {
  nav-bar{
      font-size:22px;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}